.container {
  position: relative;
  padding: 35px;
  background-color: rgb(255 255 255);
  width: 100%;
  min-height: 380px;
  font-size: 20px;


  .ad-content {
    margin-top: 2.7rem;
    color: rgb(100 100 100);
  }

  
}
