body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
header,
menu,
section,
p,
input,
td,
th,
ins {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  vertical-align: top;
}

ul,
li {
  list-style: none;
}

button {
  outline: none;
}

body {
  background-color: rgb(245 245 245);
}

div {
  box-sizing: border-box;
}

:root {
  --ui-scale: 0.8;
}

#root {
  transform: scale(var(--ui-scale));
  transform-origin: 0 0;
  width: calc(100% / var(--ui-scale));
}
